@font-face {
  font-family: "Helvetica Neue";
  src: url('HelveticaNeueLTStd-Ex.otf');
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('HelveticaNeueLTStd-BdEx.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('HelveticaNeueLTStd-HvEx.otf');
  font-weight: 900;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('HelveticaNeueLTStd-LtEx.otf');
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('HelveticaNeueLTStd-MdExO.otf');
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('HelveticaNeueLTStd-ThEx.otf');
  font-weight: 200;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('HelveticaNeueLTStd-UltLtEx.otf');
  font-weight: 100;
}
