<div class="contact-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="form-header mat-headline">
    Contact Us
  </div>

  <mat-card>
    <mat-card-header>

    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="contactForm">

        <mat-form-field appearance="fill">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Full Name" formControlName="fullName">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Email Address</mat-label>
          <input matInput placeholder=" Email Address" type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput type="tel" placeholder="Phone Number" formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Leave us a message</mat-label>
          <textarea matInput
                    placeholder="Write us something lovely..."
                    formControlName="message"></textarea>
        </mat-form-field>

        <mat-card-actions align="end">
          <button mat-flat-button>
            Submit
          </button>
        </mat-card-actions>

      </form>
    </mat-card-content>
  </mat-card>
  <div class="social-buttons" fxLayout="row" fxLayoutAlign="space-between ">
    <div>
      <a href="http://instagram.com/wandalephoto" target="_blank">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA/ElEQVRIie2UQQ6CMBBFn95CPJJ4BY8hsNZ4KzTRuNLTCBtXuGgboLQzxTU/mZCUmfkz/xdgwZ/YAzegBTolWuAK5KnNLwlNY3FOmbwDvsARyBIGyoDC1nTaJjebVCQ0dngCD6C0tbWU3Ngkf/KhJ77mD+BuazrgIxE4LYeQPPE1D9WLCSFPJM1nE0iehDSfTeA82QRyN0w1nxCsJbYBVoEzVytOrBG87PMQeOfO3kqPEfwVc3qTS4zBW6CiN3kn1KsEYK5i7JqeEupHiH1oOea2NDZqb3Iwm6kf2tUmlVJSBBUJv4qQ5hokT4KQNNfC90TcxGmuNY15siANP1ONmlGotmfHAAAAAElFTkSuQmCC"/>
      </a>
    </div>
    <div>
      <a href="https://twitter.com/wolfgangluu" target="_blank">
        <img
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABHUlEQVRIie3UvyuFURzH8Re6RFcUo0z+ASPKYjBabCwyyt8gt5SZ0UYZbDZG8mORyaLuVQbJIDJQfl3D89xFz7nnuUy37qe+w9M55/3+PqdzDq00Y3pQQhnvqKTf3ejEDFZCizfQFYGfo5pRFTyn4qGsxW34wD56A4JSAF6rN2xhKdThYzqxjImM8XJEUMU2CiHB5q/JZ1jAiGSPPyPw73QnginiOEeXoXqpB4dVTOH0j4LrmGDnH91XsRsTFHHyD8FcTADtWBQ+76G6l9yTaPZwg9cGBct54DCAgwbhh+jIK6hlFOv4isCvMJgXWkj/YAxreMrReV9e+DQuI8Ba3WJeciDqJutaj2MWkxhGPx5whwvJY3gkeapbaYL8ALfBvYa/6cTcAAAAAElFTkSuQmCC"/>
      </a>
    </div>
  </div>
</div>
