<div class="about-container">
  <div class="about-image">
    <img src="../../../assets/img/wanda.jpg" style="max-width: 100%; max-height: 100%; margin-bottom: 30px">
  </div>
  <div class="about-text">
    <p> In a time where the world looks at Africa for inspiration, it is interesting to observe what, where and how we
      as Africans do. Often having to re-appropriate our own culture against the commercial viability the West has over
      us, we seldom look past aestheticism to unwrap the true nature of we are.
    </p>
    <p>
      Informed by research that encompasses critical and speculative theory, cultural fusion, spiritual literature and
      historical sources, WANDA LEPHOTO explores a distinctive notion of luxury dress, looking to merge global nuances
      with distinctively African cultures, traditions and approaches.
    </p>
    <p>
      We are here to tell a story.
    </p>
  </div>
</div>
