.header-container {
  //background-color: #F2f0ea;
}

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "title menus options";


  .title {
    grid-area: title;
    cursor: pointer;
    text-decoration: none;

    .typeface-image {
      max-height: 100%;
      max-width: 200px;
    }

    .text {
      margin-left: 5px;
    }
  }

  .menus {
    grid-area: menus;
  }

  .options {
    grid-area: options;

    .options-text {
      a {
        color: black;
      }
    }

    .menu-icon {
    }
  }
}


mat-toolbar {
  height: 40px;
  border-bottom: 1px solid #929292;

  position: fixed;
  z-index: 1000;
}
