<div class="header-container">
  <mat-toolbar color="primary">
    <div class="header">
      <div class="title" fxLayout="row" fxLayoutAlign="start center"
           routerLink="/">
        <img src="./assets/img/typeface.png" style=" max-height: 100%; max-width: 100%">
      </div>

      <div class="menus" fxLayout="row"
           fxLayoutAlign="center center"
           fxHide.lt-md="true">
        <a mat-button [matMenuTriggerFor]="collectionsMenu">
          COLLECTIONS
        </a>
        <a mat-button routerLink="/about">
          ABOUT
        </a>
      </div>

      <div class="options" fxLayout="row" fxLayoutAlign="end center">
        <div fxHide.lt-md="true" class="options-text">
          <a routerLink="/contact">CONTACT</a>
        </div>
        <div class="menu-icon" fxHide="true" fxShow.lt-md="true">
          <a href="#" (click)="toggleSidenav()"
             fxLayout="row" fxLayoutAlign="start center" style="text-decoration: none">
            <mat-icon aria-hidden="false"
                      aria-label="Menu"
                      color="accent">
              menu
            </mat-icon>
          </a>
        </div>
      </div>
    </div>
  </mat-toolbar>

</div>

<mat-menu #collectionsMenu="matMenu">
  <button mat-menu-item (click)="openSidenav(false)">AW '17</button>
  <button mat-menu-item (click)="openSidenav(false)">Help</button>
</mat-menu>
