<div class="container">
  <app-header></app-header>
  <mat-sidenav-container>
    <mat-sidenav [opened]="isSideNavOpened"
                 fixedInViewport="true"
                 fixedTopGap="40">
      <mat-list>
        <mat-list-item>
          <a mat-list-item (click)="openSidenav(false)">
            MAN
          </a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item routerLink="/aw17" (click)="openSidenav(false)">
            WOMAN
          </a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item routerLink="/about" (click)="openSidenav(false)">
            SALE
          </a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item routerLink="/contact" (click)="openSidenav(false)">
            COLLECTION
          </a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item routerLink="/contact" (click)="openSidenav(false)">
            SPECIAL PROJECTS
          </a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

<mat-menu #collectionsMenu="matMenu">
  <button mat-menu-item (click)="openSidenav(false)">
    AW '17
  </button>
  <button mat-menu-item (click)="openSidenav(false)">
    Help
  </button>
</mat-menu>
