<div class="container" fxLayout="column" fxFlexFill>
  <app-header></app-header>
  <mat-sidenav-container fxFlex>
    <mat-sidenav [opened]="isSideNavOpened"
                 fixedInViewport="true"
                 fixedTopGap="40">
      <mat-list>
        <mat-list-item>
          <a mat-list-item (click)="openSidenav(false)">
            MAN
          </a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item (click)="openSidenav(false)">
            WOMAN
          </a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item (click)="openSidenav(false)" style="color: #CC2812">
            SALE
          </a>
        </mat-list-item>
        <mat-list-item>
          <a mat-list-item (click)="openSidenav(false)">
            COLLECTION
          </a>
        </mat-list-item>
        <mat-list-item style="background-color: #CC2812">
          <a mat-list-item (click)="openSidenav(false)" style="color: white">
            SPECIAL PROJECTS
          </a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>

<mat-menu #collectionsMenu="matMenu">
  <button mat-menu-item (click)="openSidenav(false)">
    AW '17
  </button>
  <button mat-menu-item (click)="openSidenav(false)">
    Help
  </button>
</mat-menu>
